@import "tailwindcss";

/* Base styles */
body {
  margin: 0;
  min-height: 100vh;
}

/* Print styles */
@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }
}
